* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: black;
    box-sizing: border-box;
    font-family: sans-serif;
}


#container {
    width: 100vw;
    height: 100vh;
    margin: 0 auto;
    font-size: 1.3rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1.4rem;
}

nav div {
    display: flex;
    flex-direction: row;
    align-items: center;
}

a {
    padding: 0 1em;
}

img {
    width: 50vw;
    min-width: 200px;
    max-width: 400px;
}


#account {
    display: inline-block;
    background-color: teal;
    border-radius: 50%;
    color: white;
    padding: 1rem;
}

#account a {
    color: white;
    text-align: center;
    padding: 0;
}

footer nav {

    background-color: lightgrey;
    flex-wrap: wrap;
}


main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20%;
}

#search-form {
    width: 75vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#search-input {
    border: 1px solid black;
    width: 50vw;
    min-width: 75vw;
    max-width: 50vw;
    line-height: 3rem;
    padding: 0 1rem;
    font-size: 1.3rem;
    border-radius: 1.5rem;
}

#search button {
    border: 1px solid transparent;
    font-size: 1.3rem;
    padding: .2rem;
    margin-top: 2.5rem;
    border-radius: 5%;
    margin-left: 1rem;
}

#search button:hover {
    border: 1px solid #434343;
}

