html {
    font-size: 100%;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    height: 99vh;
    width: 99vw;
    align-items: stretch;
}

a {
    text-decoration: none;
    color: inherit;
    font-size: 1.1rem;
}

a:hover {
    text-decoration: underline;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

header {
    padding: 1em;
}


footer {
    display: flex;
    flex-direction: column;
    padding: 1em;
    background-color: #f5f5f5;
    color: dimgrey;
}

footer p {
    align-self: center;
    padding-bottom: 2em;
}

footer nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0 5rem;
}


main {
    flex-grow: 1;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10vh;
}

img {
    width: 340px;
    padding-bottom: 1rem;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

form input[type="text"] {
    border: 2px solid lightgrey;
    min-width: 70vw;
    padding: 0.6rem 1rem;
    margin-bottom: 1rem;
    font-size: 1.3rem;
    border-radius: 1.5rem;
}

form input[type="text"]:focus {
    outline: none;
}

form input[type="text"]:hover {
    box-shadow: 0 0 5px 1px lightgrey;
}

form div {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

form button {
    padding: 0.5rem;
    margin: 1rem;
    background-color: #f5f5f5;
    border: 1px solid transparent;
    border-radius: 5px;
    font-size: 1.2rem;
    color: dimgray;
}

form button:hover {
    border-color: lightgrey;
}

ul {
    list-style-type: none;
}

ul li {
    padding-left: 1em;
}

#sign-in {
    background-color: #1B73E8;
    color: white;
    border-radius: 5px;
    padding: .3em 1em;
}

